.chatHeader{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:gray;
    padding:10px;
}
.chatHeader__hash{
    font-size:30px;
    padding:10px;
    color:gray;

}

.chatHeader__left > h3{
    display:flex;
    align-items: center;
    color:white;
}
.chatHeader__right {
        display:flex;
        /* align-items:center; */
        justify-content: space-between;
        flex:0.5;
}
.chatHeader__right> .MuiSvgIcon-root{
    padding:5px;
    cursor:pointer;

}
.chatHeader__right> .MuiSvgIcon-root:hover{
    color:white;
}
.chatHeader__search{
    display: flex;
    align-items: center;
    justify-content: center;
    color:gray;
    background-color: #2f3135;
    border-radius:3px;
    padding:3px;
}
.chatHeader__search > input{
    background: transparent;
    color:white;
    border:none;
    outline-width: 0;


}