.chat{
    background-color:#36393f;
    flex:0.75;
    display:flex;
    flex-direction: column; 
   
 
    height:100vh;

}
.chat__messages{
    flex:1;
}
.chat__input{
    color:lightgray;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:15px;
    margin:20px;
    border-radius: 5px;
    border-top: 1px solid gray;
    background-color: #474b53;
    width:90%;


}

.chat__input > form >input{

    background:transparent;
    border:none;
    outline-width: 0;
    padding:15px;
    color:white;
    font-size: large;

}
.chat__input > form{
    flex:1;
}
.chat__input > form >button{
    display: none;
}

.chat__inputIcons > .MuiSvgIcon-root{
    padding:5px;
}