.login{
    display:grid;
    place-items:center;
    height:100vh;
    width:100%;
}


.login > div > img{
    object-fit:contain;
    height:150px;

}

.login > button{
    width:300px;
    background-color:#738adb;
    font-weight:800;
    color:white;

}

.login > button:hover{
    background-color:black;
}