.message{
    display: flex;
    align-items: center;
    padding:20px;
    color:white;
}
.message__info{
    margin-left:20px;
}
.message__timestamp{
    margin-left:20px;
    color:gray;
    font-size: x-small;
}