.sidebar{
    display:flex;
    flex-direction:column;
    flex:0.25;
    height:100vh;
    background-color: #2f3135;
    overflow:scroll !important;
    scroll-behavior: unset;
    
    
    
}

.sidebar__top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding:20px;
    border-bottom:3px solid #26282c;
}

.sidebar__channels{
    flex:1;
}


.sidebar__addChannels{
    cursor:pointer;
}

.sidebar__addChannels:hover{
    color:white;
}
.sidebar__channelsHeader{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    color:gray;


}

.sidebar__header{
    display:flex;
    align-items: center;
}
.sidebar__bottom{
    border-top:1px solid gray;
    padding:5px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.sidebar__voiceIcon{
    color:#4fb185;
}
.sidebar__voice{
    display:flex;
    padding:5px;
}
.sidebar__voiceInfo > h3{
    color:#4fb185;
 
}
.sidebar__voiceInfo > p{
    font-size:smaller;
    color:gray;
}
.sidebar__voiceIcons > .MuiSvgIcon-root{
        padding:10px;
        color:gray;
}

.sidebar__profile{
    
    display:flex;
    border-top:1px solid gray;
    padding:5px; 
    justify-content: space-between;
}

.sidebar__profileContent{
    
    display:flex;
    padding:10px;
}
.sidebar__profileInfo{
    margin-left:5px;
}
.sidebar__profileInfo > h3{
        color:white;
}
.sidebar__profileInfo >p{
    font-size:smaller;
    color:gray;
}

.sidebar__profileIcons{
    display:flex;
flex-direction: column;
justify-content: center;
    align-items:center;
}
.sidebar__profileIcons > .MuiSvgIcon-root{
        padding:10px;
        color:gray;

}