

.sidebarChannel:hover{
    color:white;
    background-color: #40464b;

}

.sidebarChannel > h4{
    padding-left:15px;
    display:flex;
    align-items: center;
    color:gray;
    cursor:pointer;
}
.sidebar__channelHash{
    padding:8px;
    font-size: 30px;
}